h1 {
	color: red;
	text-align: center;
}

h2 {
	text-align: center;
}

.button {
	background-color: lightblue;
	text-align: right;
	padding: 45, 46;
	text-decoration: none;
	border: 3px;
	border-color: black;
}
.center {
	text-align:center;
}
